/*
* Remove 000webhost watermark
*/
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {display: none !important;}

/*
* Set font and margins for header titles
*/
h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
}

/*
* Default sizes for each header size
*/
h1 {
  font-size: calc(1.725rem + 5.7vw);
}
h2 {
  font-size: calc(1.475rem + 2.7vw);
}
h3 {
  font-size: calc(1.325rem + 0.9vw);
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

/*
* Adjust titles when changing breakpoints
*/
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 6rem;
  }
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

/*
* small ajudstments to margins in paragrahps
*/
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/*
* Use of id's to CSS just to show it's also possible to do it this way
*/
#navMenu {
  padding-left: 1rem;
  padding-right: 1rem;
}

/*
* Makes menu letters look like they have <strong> tag and all uppercase
*/
#navMenu .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
#navMenu .navbar-toggler:focus {
  outline-color: #d48a6e;
}

/*
* Adjusts the nav menu margins and alignments on breakpoint
*/
@media (min-width: 992px) {
   #navMenu {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: fixed;
    display: flex;
  }

  /*
  * Center the margins of the navbar
  */
  #navMenu .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  
  /*
  * Creates a border around the profile image and make it smaller all around
  */
  #navMenu .navbar-brand .img-profile {
    max-width: 2.5rem;
    max-height: 2.5rem;
    border: 0.2rem solid rgba(255, 255, 255, 0.2);
  }

  /*
  * Default Profile pic size (in first section)
  */
  .img-profile2{
    align-items: center;
    max-width: 25rem;
    max-height: 25rem;
  }
}
/*
* Profile pic change size when between 2 breakpoints
*/
@media (min-width: 1200px) {
  .img-profile2{
    max-width: 25rem;
    max-height: 25rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .img-profile2{
    max-width: 20rem;
    max-height: 20rem;
  }
}
@media (min-width: 576px) and (max-width: 768.98px) {
  .img-profile2{
    max-width: 15rem;
    max-height: 15rem;
  }
}
@media (min-width: 400px) and (max-width: 576.98px) {
  .img-profile2{
    max-width: 12rem;
    max-height: 12rem;
  }
}

/*
* One CSS for all the sections present in the html document
*/
section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
}
section.resume-section .resume-section-content {
  width: 100%;
}
section.resume-section {
  min-height: 100vh;
}
section.resume-section {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
/*
* Makes the connect with me icons bigger, centered and with bg color black
*/
.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

/*
* Change the bg color when hovering the mouse
*/
.social-icons .social-icon:hover {
  background-color: #bd5d38;
}

/*
* Language and tools icons, make them bigger
*/
.dev-icons {
  font-size: 3rem;
}

/*
* Makes sub headers pretty
*/
.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}

/*
* Override bs colors
*/
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #69681d !important;
}

.text-primary {
  --bs-text-opacity: 1;
  color: #69681d !important;
}

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }

.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.copyright a:hover {
    color:#bd5d38; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

/*
* Scroll to the top button
*/
  #btn-back-to-top {
    position: fixed;
    background-color: #69681d;
    bottom: 20px;
    right: 20px;
    display: none;
  }

  /*
* Contact form stuff
*/
.btn{
  align-items: center;
  justify-content: center;
}
.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
  }
.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}
.card{
  margin-left: 10px;
  margin-right: 10px;
}

